.LeaderBoard {
	flex-basis: 50%;
	border: 2px solid rgb(63, 62, 62);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
	padding-top: 100px;
	padding-bottom: 300px;

	>h1{
		margin-bottom: 20px;
	}

	>h3{
		text-align: center;
	}

	@media only screen and (max-width: 767px) {
		padding-top: 30px;
		padding-bottom: 50px;
		border: none;
		border-top: 2px solid rgb(63, 62, 62);
    }
}

.list-group{
	width: 90%;
	max-height: 500px;
	overflow-y: scroll;
}

.userItem{
	display: flex;
	justify-content: space-between;
	align-items: center;

	p{
		margin-bottom: 0px;
	}
	
	>p{
		margin-bottom: 0px;
		flex-basis: 50%;
		font-weight: bold;
	}

	>div{
		flex-basis: 50%;
		display: flex;
		justify-content: space-between;
	}

	@media only screen and (max-width: 1025px) {
		>p{
			flex-basis: 30%;
			white-space: nowrap;
		}
	
		>div{
			flex-basis: 70%;
			flex-direction: column;
    		align-items: flex-end;
		}
	}
}

.card{
	margin-top: 40px;
}

